<footer class="page-footer white">
  <hr color="#eeeeee">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-2">SonoLigo</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-darken-2">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-2" href="#!">採用情報</a></li>
          <li><a class="grey-text text-darken-2" href="#!">SonoLigoとは</a></li>
          <li><a class="grey-text text-darken-2" href="#!">先生になるには</a></li>
          <li><a class="grey-text text-darken-2" href="#!">今後の展望</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-darken-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>