@import "materialize";
@import "dropzone/dropzone";

body{
  color:#565a5c;
}

.button-center{
   text-align:center;
}

#login-size{
	margin: 10px auto;
  width: 450px;   /*横幅*/
}

// AVATAR
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

.dropzone {
  border: 2px dashed #b4bcc2;

  .dz-message {
    font-size: 16px;
    text-align: center;
    margin: 0
  }
}