@import "materialize";
@import "dropzone/dropzone";

body{
  color:#212121;
}

nav a{
  color:#212121 !important;
}

.container {
  //width: 85%;
}

main {
  padding-top: 10px;
  flex: 1 0 auto;
}

.swiper-container {
  width: 100%;
  padding-bottom: 75%;
  min-width :200px;
  //height: %;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.button-center{
   text-align:center;
}

#login-size{
	margin: 10px auto;
  width: 450px;   /*横幅*/
}

// AVATAR
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

.dropzone {
  border: 2px dashed #b4bcc2;

  .dz-message {
    font-size: 16px;
    text-align: center;
    margin: 0
  }
}